name: Discord Notify

on: [push]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send message to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          curl -H "Content-Type: application/json" \
          -d "{\"content\":\"New push to **${GITHUB_REPOSITORY}** by ${GITHUB_ACTOR}\"}" \
          $DISCORD_WEBHOOK
